.game-content {
    width: 100%;
    display: flex;
}

.game-content > div {
    margin: 2%;
}

.instruction {
    width: 20%;
    padding-top: 1.5em;
    font-size: 1.3em;
}

.play-game {
    width: 50%;
}

.display {
    width: 30%;
    font-size: 2em;
}

.cluster {
    height: 18em;
}

.cell {
    outline: 1px solid;
    margin-top: 1px;
    margin-left: 1px;
    width: 8em;
    height: 8em;
    float: left;
    position: relative;
}

.cell:hover {
    background-color: #575757;
    transition: 0.2s;
}

.cell > p {
    position: absolute;
    font-size: 2em;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}